<ion-tabs>

  <ion-tab-bar slot="bottom">
      

    <ion-tab-button tab="favorite-movies">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Favoris</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="movie-list">
        <ion-icon name="apps"></ion-icon>
        <ion-label>Recherche</ion-label>
      </ion-tab-button>

    <ion-tab-button tab="deux-mille48">
      <ion-icon name="send"></ion-icon>
      <ion-label>2048</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
